<!Doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Car Price Prediction</title>
  </head>
  <body>
    <div class = "login">
      <h1> Predict Car Price</h1>


    <form action="/" method="POST">
      <p>Car Name <input type="text" name="name" required = "required"/></p>
      <p>Location <input type="text" name="location" required = "required"/></p>
      <p>Year <input type="number" name="year" required = "required"/></p>
      <p>Kilometers Driven <input type="text" name="kilometers_driven" required = "required"/></p>
      <p>Fuel Type <input type="text" name="fuel_type" required = "required"/></p>
      <p>Transmission<input type="number" name="transmission" required = "required"/></p>
      <p>Owner type<input type="number" name="owner_type" required = "required"/></p>
      <p>Seats<input type="number" name="seats" required = "required"/></p>

      <p><input type="submit" value="submit" /></p>
    </form>

     <br>
     <br>
    {{prediction_text}}

   </div>

  </body>
</html>
